<h1>Sightings in Orgeon</h1>


<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=@key_main%>&callback=initMap">
</script>



<%#binding.pry%>
